<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIVE STREAMING</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- <a href="{{ url_for('video_feed') }}" target="_self">STREAM</a> -->
    
    <div class="info">
        <div class="date">date</div>
        <div class="time">time</div>
    </div>

    <div class="container">
            <div class="video-container">
                <img src="{{ url_for('video_feed') }}" alt="Live Video Feed">
            </div>

    

        <div class="list-container">
            <H1>ALERT LIST</H1>
            <ul class="alert-list"></ul>
        </div>
        
    </div>
    
    
    <script type="module" src="/static/receive_log.js"></script>

</body>
</html>
